/* Main Layout */

body
{
	margin: auto;
	padding-top: 50px;
} 

.starter-template {
  padding: 40px 15px;
  text-align: center;
  display: block;
}

#cadre > *
{
	height: 100%;
}

#menu
{
	width: 20%;
	float: left;
}

#flux{
	width: 600px;
	margin: auto;
}

#cadre
{
	width:80%;
	float:right;
}

#header {
	text-align: center;
}

/* Content */

#profil_name
{
	text-align: left;
	width:70%;
	margin: auto;
}
#picture
{
	float:left;
	width: 20%
}
#details
{
	float:left;
	width: 75%;
	text-align: left;
}

/* Profil/Mur */

.status{
	width:800px;
	display: inline-block;
}

.profil{
text-align: left;
display: inline-block;
float: left;
width: 100%;
}

.profil .avatar{
	text-align: center;
	vertical-align: center;
	width:20%;
	float:left;
}

.profil .details{
	width: 80%;
	float:left;
}

.profil .name{
	
}

.profil .informations{
	
}

#posts {
	width: 80%;
	margin: auto;
	
}

.author{
	width:20%;
	float:left;
	display: block;
}

.author_avatar{
	width:50%;
}

.author_avatar > img
{
	width: 80%;
	margin: auto;
}

.author_name{

}

.message{
	width:80%;
	float:left;
	padding-top: 10px;
}

/* Header */

#header
{
	background-color: #FF0000;
	border: 1px solid #FF0000;
}

#header #title
{
	width: 10%;
	float:left;
}

/* Bloc Identifiant */

#block_identifiant
{
	display: table;
	border:1px solid;
}

#block_identifiant:hover #form_identification
{
	display: block;
}

#block_identifiant .field{
	display: table-row;
}

#block_identifiant .field > *
{
	display: table-cell;
}

